
@media screen and (max-width: 1024px) {
    * {
        margin: 0 0;
        padding: 0 0;
    }

    .header {
        height: 406px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    nav ul.navlink {
        display: none;
    }

    .logo {
        margin-top: 20px;
        margin-left: 5.334vw;
        width: 86px;
        height: 25px;
    }

    .navlinks {
        display: block;
        width: 24px;
        margin-right: 5.334vw;
        float: right;
        margin-top: 22px;
    }

    .header-content {
        margin-top: 0;
    }

    div.header-content h1 {
        font-size: 1.125rem;
        width: 61.067vw;
        max-width: 229px;
        line-height: 27px;
        font-weight: 600;
        text-align: center;
        padding-top: 85px;

    }

    div.header-content p {
        width: 77.867vw;
        max-width: 292px;
        font-weight: 400;
        line-height: 24px;
        font-size: 0.75rem;
        text-align: center;
        margin-top: 20px;
    }

    .why-choosing {
        display: none;
    }

    .info {
        display: block;
        flex-direction: column;
        margin-top: 20px;
    }

    .infobox {
        width: 89.334vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .infobox:first-child {
        margin-top: 0;
    }

    div.infobox img {
        width: 7.4667vw;
        height: 7.4667vw;
        margin-top: 2.667vw;
    }

    div.infobox h3 {
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 24px;
        margin-top: 10px;
    }

    div.infobox p {
        max-width: 100%;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 24px;
        margin-top: 0px;
    }

    div.infobox p.more-info {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    div.infobox * {
        margin-left: 2.667vw;
    }

    div.divbar {
        display: none;
    }

    div.visualize {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    div.visualize div.visual-img img {
        width: 89.334vw;
        height: 61.8667vw;
        margin-left: 5vw;
        border-radius: 20px 20px 0px 20px;
    }

    div.visualize div.description {
        margin-top: 100px;
    }

    div.visualize div.description h2 {
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 36px;
    }

    div.visualize div.description p.first-description, div.visualize div.description p.second-description{
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 24px;
        width: auto;
        margin-right: 5.334vw;
    }

    div.visualize div.description div.dropdown p {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 24px;
    }

    div.visualize div.description div.dropdown {
        width: auto;
        margin-right: 5.334vw;
    }

    div.visualize div.description div.btn svg {
        width: 0.625rem;
        flex-shrink: 0;
    }
    
    div.visualize div.description aside {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 24px;
    }

    div.visualize p.first-description {
        margin-top: 20px;
    }

    div.visualize div.modern {
        margin-top: 40px;
    }

    div.visualize p.second-description {
        margin-top: 10px;
        margin-bottom: 40px;
    }

    h2.featured {
        margin-top: 100px;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 36px;
    }

    div.products-section {
        flex-direction: column;
    }
    
    div.products {
        margin-top: -20px
    }

    div.product {
        margin-top: 40px;
    }

    div.product:first-child {
        margin-left: 0;
    }
    
    div.product:last-child {
        margin-right: 0px;
    }

    div.product-des {
        margin-left: 4.5333vw;
        margin-top: 0;
    }

    div.product-des * {
        margin-top: 10px;
    }

    div.product-des p.name {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 28px;
    }

    div.product-des p.des {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 24px;
    }
    
    .star {
        width: 12.16px;
        height: 12px;
    }

    .price {
        display: none;
    }

    .mobile-price {
        display: block;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 24px;
    }

    .feedback-section {
        margin-top: 100px;
        height: 860px;
    }

    .feedback-title {
        padding-top: 40px;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 36px;
    }

    .feedbacks {
        flex-direction: column;
        flex-wrap: wrap;
        margin-left: 5.3334vw;
        margin-top: -20px;
    }

    .feedback {
        margin-left: 0;
        margin-top: 40px;
        height: auto;
        width: 89.3333vw;
    }

    .feedback:first-child {
        margin-left: 0;
    }

    .keywords {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 28px;
    }

    .details {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 24px;
        height: fit-content;
    }

    .user-info {
        margin-top: 14px;
    }

    .username {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 28px;
    }

    .prof-pic-div {
        display: flex;
        align-items: center
    }

    .name-n-job {
        margin-left: 10px;
    }

    .job {
        font-size: 0.75rem;
        font-weight: 300;
        line-height: 24px;
    }

    .prof-pic {
        width: 40px;
        height: 40px;
        
    }

    .homey {
        flex-direction: column;
        margin-top: 100px;
    }

    .homey img {
        margin-left: 5.2vw;
        width: auto;
        height: auto;
        border-radius: 30px 30px 30px 0px;
    }

    .homey-des {
        margin-top: 40px;
    }
    .homey-title {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 28px;
    }

    .homey-details {
        font-size: 0.75rem;
        font-weight: 400;
        line-height: 24px;
        margin-top: 20px;
        width: auto;
    }

    .email {
        margin-top: 20px;
        border-radius: 30px;
        height: 38px;
    }

    .email p {
        margin-left: 10px;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 20px;
    }

    .submit {
        width: 28px;
        height: 28px;
        margin-right: 5px;
    }

    .submit img {
        margin: 0 0;
    }

    .footer {
        height: 900px;
    }

    .footer-content {
        flex-direction: column;
        padding-top: 20px;
        margin-left: 20px;
    }

    .footer-content * {
        margin-left: 0;
    }

    .footer-content img {
        margin-left: 0;
    }

    .footer-nav {
        margin-top: 40px;
    }

    .footer-nav h6 {
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 21px;
    }

    .footer-nav p {
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 18px;
    }

    .footer-nav p:last-child {
        margin-bottom: 0;
    }

    .copyright {
        margin-top: 100px;
        font-weight: 400;
        font-size: 0.75rem;
        line-height: 18px;
    }
}   
